* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* 공용 */

.common-btn {
    margin-top: 15px;
    margin-left: 3px;
    padding: 10px 20px 10px 20px;
    border-radius: 6px;
    border: none;
    background-color: #444445;
    color: white;
    font-size: 12px;
}

.common-title-container {
    width: 50%;
    margin: auto;
    text-align: center;
    padding: 30px 0 30px 0;

    .common-subtitle {
        font-weight: 100;
        line-height: 13px;
        color: white;
    }

    .common-maintitle {
        font-weight: 600;
        font-size: 18px;
        color: white;
    }

    .common-subtitle-black {
        font-weight: 100;
        line-height: 13px;
        color: black;
    }

    .common-maintitle-black {
        font-weight: 600;
        font-size: 18px;
        color: black;
    }
}




/* landing */

.landing-wrap {
    background: linear-gradient(#4997dc, #4e61c0);


    .landing-container {
        width: 70%;
        display: flex;
        height: auto;
        margin: auto;
        justify-content: space-around;
    }



    .landing-Lfcontainer {
        width: 60%;
        padding: 40px 10px 60px 0;
        height: 100%;

        h1 {
            color: white;
            font-weight: 500;
            margin-bottom: 20px;
        }

        p {
    
            font-size: 13px;
            color: white;
            font-weight: 300;
            line-height: 13px;
        }

    }


    .landing-Rtcontainer {
        width: 40%;
        display: flex;
        align-items: flex-end;

        img {
            width: 100%;
            height: 80%;
            object-fit: contain;
        }
    }
}


.portfolio-wrap {
    width: 100%;
    background-color: white;

    .portfolio-container {
        width: 40%;
        margin: auto;
        padding: 35px 0 70px 0;
        text-align: center;

        h1 {
            font-size: 16px;
        }

        p {
            font-size: 13px;
            padding-top: 10px;
        }

    }
}


/* offer */

.offer-wrap {
    width: 100%;
    background-color: #4e61c0;
    padding-bottom: 30px;

    .offer-icon-container {
        width: 50%;
        margin: auto;
        display: flex;
        justify-content: center;
        margin: auto;

        .offer-icon-box {
            text-align: center;
            padding: 20px 10px 10px 10px;
            margin-right: 4px;

            .offer-icon-circle {
                width: 60px;
                height: 60px;
                border-radius: 50%;
                background-color: white;
                display: flex;
                justify-content: center;
                align-items: center;
                margin: auto;

                .fa-solid {
                    font-size: 25px;
                    color: #4e61c0;
                }
            }

            h4 {
                font-size: 13px;
                font-weight: 500;
                padding: 10px 0 10px 0;
                color: white;
            }

            p {
                font-size: 11px;
                color: white;
                font-weight: 100;
            }
        }
    }
}

/* stationary */
.stationary-wrap {
    width: 100%;
    padding: 20px;

    .stationary-container {
        width: 50%;
        margin: auto;
        flex-wrap: wrap;
        display: flex;



        .stationary-itemBox {
            width: 50%;
            height: 200px;
            background-size: cover;
            background-repeat: no-repeat;
            color: white;
            position: relative;


            .stationary-border {
                width: 100%;
                height: 100%;
                border: 0px solid white;
                position: absolute;
                transition: all 1s;
            }



            img {
                width: 100%
            }

            ;

            h4 {
                padding: 40px 0 0 40px;
                font-weight: 500;
            }

            p {
                padding: 20px 0 0 40px;
                font-size: 11px;
            }
        }

        .stationary-itemBox:hover .stationary-border {
            border: 30px solid white;
            cursor: pointer;
        }

        /* .stationary-itemBox:hover {
            padding: 20px;
        } */


        .stationary-itemBox:nth-child(1) {
            background-image: url("./image/portfolio-1.jpg");
        }


        .stationary-itemBox:nth-child(2) {
            background-image: url("./image/portfolio-2.jpg");
        }


        .stationary-itemBox:nth-child(3) {
            background-image: url("./image/portfolio-3.jpg");
        }

        .stationary-itemBox:nth-child(4) {
            background-image: url("./image/portfolio-4.jpg");
        }
    }
}

/* footer */

.footer-wrap {
    width: 100%;
    padding: 30px 0 60px 0;

    .footer-container {
        width: 15%;
        margin: auto;
        display: flex;
        justify-content: space-around;

        .footer-icon-circle {
            width: 45px;
            height: 50px;
            border-radius: 50%;
            background-color: #4e61c0;
            display: flex;
            justify-content: center;
            align-items: center;
            color: white;

        }

    }

    p {
        padding: 40px 0 0 0;
        text-align: center;
        font-size: 12px;
    }
}


/* media query */

@media screen and (max-width:768px) {

    /* 공용 */
    .common-btn {
        margin-top: 20px;
        margin-left: 3px;
        padding: 10px 20px 10px 20px;
        border-radius: 6px;
        border: none;
        background-color: #444445;
        color: white;
        font-size: 12px;
    }


    /* landing */
    .landing-wrap {
        background: linear-gradient(#4997dc, #4e61c0);

        .landing-container {
            flex-direction: column;

            .landing-Lfcontainer {
                width: 100%;
                text-align: center;

                h1 {
                    color: white;
                    font-weight: 500;
                    margin-bottom: 20px;
                }

                p {
                    font-size: 13px;
                    color: white;
                    font-weight: 300;
                    line-height: 13px;
                }

            }


            .landing-Rtcontainer {
                width: 60%;
                margin: auto;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                }
            }

        }


    }


    /* stationary */
    .stationary-wrap {

        .stationary-container {
            width: 80%;
 
        }
    }

    /* footer */

.footer-wrap {

    .footer-container {
        width: 25%;



    }

}


}